body,h1,h2,h3,h4,h5,h6,p,ul,li {
  background: #deddcd none repeat scroll 0 0;
  margin: 0px;
  padding: 0px;
}
.wrap {
  margin: 40px auto;
  width: 960px;
}
.head {
  height: 120px;
  width: 100%;
}
.head > h1 {
  color: #eeeeee;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 3px 6px #555;
}
.head small {
  color: #000;
  display: block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 14px;
  padding: 12px 0 0;
  text-transform: uppercase;
}
header h2 {
  display: block;
  font-size: 45px;
  font-style: italic;
  margin: 0 0 20px;
  text-align: center;
  text-transform: capitalize;
}
header a {
  color: #bfe1f1;
  display: block;
  text-decoration: none;
  text-shadow: 0 3px 6px #333;
}
header a:hover {
  color: #90bcd0;
  text-decoration: none;
}
.content {
  margin: 20px 0;
}
.content p {
  font-family: Georgia;
  padding: 20px 0;
  text-align: justify;
}
.animation_image {
  margin: 80px 0px;
  height: 550px;
}
 img {
  border: 10px solid #fff;
  box-shadow: 1px 0 6px 1px #555;
  transform: rotateY(30deg);
  width: 322px;
}
.iron_man {
  perspective: 700px;
  position: relative;
  left: -600px;
}
.the_last {
  perspective: 700px;
  position: relative;
  display: none;
  bottom: -1100px;
}
.tron_legacy {
  perspective: 700px;
  position: relative;
  display: none;
  right: -620px;
}
.iron_img {
    perspective: 700px;
}
.airbinder_img {
    perspective: 700px;
}
.tron_img {
    perspective: 700px;
}

.image_info {
  background: #deddcd none repeat scroll 0 0;
  border: 10px solid #f5f5f5;
  box-shadow: 6px 5px 37px #555;
  height: 240px;
  left: 50px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateZ(30px) rotateY(30deg);
  transition: all 0.5s ease 0s;
  width: 266px;
}
.iron_man:hover img {
  transform: rotateY(0deg);
  transition: all 0.5s;
}
.iron_man:hover .image_info {
	box-shadow: 2px 3px 9px #555;
  left: 18px;
  margin: 0 auto;
  right: 0;
  top: 70%;
  position: absolute;
  transform: rotateY(0deg);
  transition: all 0.8s ease 0s;
}
.the_last:hover img {
  transform: rotateY(0deg);
  transition: all 0.5s;
}
.the_last:hover .image_info{
	box-shadow: 2px 3px 9px #555;
  left: 18px;
  margin: 0 auto;
  right: 0;
  top: 70%;
  position: absolute;
  transform: rotateY(0deg);
  transition: all 0.8s ease 0s;
}
.tron_legacy:hover img {
  transform: rotateY(0deg);
  transition: all 0.5s;
}
.tron_legacy:hover .image_info{
	box-shadow: 2px 3px 9px #555;
  left: 18px;
  margin: 0 auto;
  right: 0;
  top: 70%;
  position: absolute;
  transform: rotateY(0deg);
  transition: all 0.8s ease 0s;
}

.image_info h3 {
    color: #7a3f3a;
    font-family: georgia,serif,times;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: bold;
    padding: 0 0 14px;
    text-align: center;
}
.image_info > p {
    padding: 0 0 10px;
    text-align: left;
}
.image_info > a {
    background: #7a3f3a none repeat scroll 0 0;
    border-radius: 3px;
    color: #e5e5e5;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    width: 100px;
}
/*.image_info > a:hover {
    background: #7a3f2a none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}*/
